.env
*.log

/discord/bambu-lab/config/printers.json
/discord/bambu-lab/config/active-threads.json
/discord/bambu-lab/config/notification-outbox.json
/fail2ban/config/db
/immich/data/*
/mariadb/data/*
/portainer/data/*
/traefik/config/acme.json
/traefik/config/dynamic-conf/*
!/traefik/config/dynamic-conf/middlewares.toml
!/traefik/config/dynamic-conf/tls.toml
!/traefik/config/dynamic-conf/web/
/traefik/config/dynamic-conf/web/*
!/traefik/config/dynamic-conf/web/.gitkeep
/wireguard/data/*
/vaultwarden/data/*
/minio/data/*
/diun/data/*
/uptime-kuma/data/*
/web/data/*
/wireguard/config/*