.env
*.log

/discord/bambu-lab/config/printers.json
/discord/bambu-lab/config/active-threads.json
/discord/bambu-lab/config/notification-outbox.json
/fail2ban/config/db
/immich/data/*
/mariadb/data/*
/portainer/data/*
/traefik/config/acme.json
/wireguard/data/*
/vaultwarden/data/*
/minio/data/*
/diun/data/*
/uptime-kuma/data/*
/wireguard/config/*