services:
  bambu-lab-discord:
    image: lachaux/bambu-lab-discord:latest
    container_name: bambu-lab-discord
    restart: always
    environment:
      DISCORD_BOT_TOKEN: ${ENV_DISCORD_BOT_TOKEN}
      NOTIFICATION_FOOTER_ICON: ${ENV_NOTIFICATION_FOOTER_ICON}
      NOTIFICATION_PERCENT: ${ENV_NOTIFICATION_PERCENT}
    volumes:
      - ./config:/usr/src/app/config